<ion-popover-view class="popoverView">
    <ion-header-bar>
        <h1 class="title">My Starter! :)</h1>
    </ion-header-bar>
    <ion-content>
        <ion-slide-box>
            <ion-slide>
                <img src="img/applause.png" />
            </ion-slide>
            <ion-slide>
                <img src="img/benderdrink.png" />
            </ion-slide>
            <ion-slide>
                <img src="img/donut.png" />
            </ion-slide>
            <ion-slide>
                <img src="img/homerlike.png" />
            </ion-slide>
            <ion-slide>
                <img src="img/woho.png" />
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-popover-view>